@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UVU Inventory Tracking</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Books Inventory</h2>
        <p>Here you can add or remove books from the inventory</p>
        <p>@Html.ActionLink("Books", "Index", "Books", new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Supplies Iventory</h2>
        <p>Here you can add or remove supplies from the inventory</p>
        @Html.ActionLink("Supplies", "Index", "Supplies", new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Student Inventory</h2>
        <p>Here you can add or remove students from the inventory</p>
        @Html.ActionLink("Students", "Index", "Students", new { @class = "btn btn-default" })
        <p>Git Hub Desktop Test</p>
    </div>
</div>