@{
    ViewBag.Title = "Home";
}

<div class="jumbotron-uvu">
    <h1 class="display-4 text-center">UISB</h1>
    <p class="lead text-center">UVU Book, and Supply Inventory.</p>
    <hr class="my-4">
    <p class="text-center">
        If you are a student feel free to look at the Books and Supplies
        available for check out at your department's office.
    </p>
</div>

<div class="row justify-content-around">

    <div class="col-sm text-center">

        <a href="@Url.Action("Index", "Books")" style="color:white" class="btn btn-uvu btn-lg">Books</a>
        <p class="font-weight-light"><small>View all available books</small></p>
    </div>
    <div class="col-sm text-center">

        <a href="@Url.Action("Index", "Departments")" style="color:white" class="btn btn-uvu btn-lg">Departments</a>
        <p class="font-weight-light"><small>View all available departments</small></p>
    </div>
    <div class="col-sm text-center">

        <a href="@Url.Action("Index", "Supplies")" style="color:white" class="btn btn-uvu btn-lg">Supplies</a>
        <p class="font-weight-light"><small>View all available supplies</small></p>
    </div>

</div>

