@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UVU Inventory Tracking</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Books</h2>
        <p>View all available books</p>
        <a href="@Url.Action("Index", "Books")" style="color: white" class="btn btn-info btn-lg">Books</a>
    </div>
    <div class="col-md-4">
        <h2>Supplies</h2>
        <p>View all available supplies</p>
        <a href="@Url.Action("Index", "Supplies")" style="color: white" class="btn btn-info btn-lg">Supplies</a>
    </div>
    <div class="col-md-4">
        <h2>Departments</h2>
        <p>view all available departments</p>
        <a href="@Url.Action("Index", "Departments")" style="color: white" class="btn btn-info btn-lg">Departments</a>
    </div>
</div>

